In [6]:
import pymongo
import pandas as pd

In [7]:
#Desenv
mongoClient = pymongo.MongoClient(
    host='mongodb://192.168.5.98:27017',
    authSource='admin'
)

In [8]:
db_parceiro = mongoClient["parceiro_dev"]
col_parceiro_cliente_contmatic = db_parceiro["clienteContmatic"]

In [9]:
query = {}
projection = {
    'id':1,
    'regimeTributario':1
}
cursor = col_parceiro_cliente_contmatic.find(query,projection)

In [10]:
df_parceiro_cliente = pd.DataFrame(list(cursor))
cursor.close()

In [11]:
df_parceiro_cliente

       _id  regimeTributario
0    50143  SIMPLES_NACIONAL
1    32725     REGIME_NORMAL
2    40115  SIMPLES_NACIONAL
3    80015  SIMPLES_NACIONAL
4    99999  SIMPLES_NACIONAL
..     ...               ...
418  17934  SIMPLES_NACIONAL
419  17935  SIMPLES_NACIONAL
420  17937               MEI
421  17943  SIMPLES_NACIONAL
422  17945  SIMPLES_NACIONAL

[423 rows x 2 columns]